[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"

[scripts]
server = "uvicorn main:app --port=8080 --host=0.0.0.0"
local_server = "uvicorn main:app --reload --port=8080 --host=0.0.0.0"

[requires]
python_version = "3.9"
